body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    border: 2px solid #b197fc;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    color: #ff0074;
    font-family: sans-serif;
}

.navbar{
    width: 50%;
    margin: 0 auto;
}

.border{
    border: 2px solid red;
}

.nav{
            list-style: none;
            display: inline-block;
            width: 60%;
            margin: 3% 20%;
            padding: 0px;
        }

.nav li{
            float: left;
            margin-right: 10px;
            background-color: #9775fa;
            padding: 10px;
            border-radius: 3px;
            color: #fff;
        }

.nav li a{
            color: #fff;
            text-decoration: none;
        }
        
.info{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}